= form_for @question, url: ask_the_question_path, html: { method: :post, class: "centred-form form-horizontal col-md-6" } do |f|

	= f.hidden_field :user_id, value: current_user.id 
	.form-group  
		= redner_errors(@question)
	.form-group
		= f.label :title, t('labels.forms.question_title'), class: "col-sm-2 control-label"
		.col-sm-10
			= f.text_area :title, autofocus: true, class: "form-control", placeholder: "Текст вашего вопроса"	
	.form-group
		= f.label :text, t('labels.forms.question_text'), class: "col-sm-2 control-label"
		.col-sm-10
			= f.text_area :text, autofocus: true, class: "form-control", placeholder: "Дополение к вопросу"
	.form-group
		.col-sm-offset-2.col-sm-10
			= f.submit t 'labels.ask_the_question', class: "btn btn-default"