.col-md-12
	.page-header
		h3
			= t 'labels.your_questions'
	.row
		- if @questions.any?
			- @questions.each do |question|
				.col-sm-6.col-md-4
					.thumbnail
						.caption
							h3
								= question.user.email
								br
								i.small
									= question.created_at.strftime("%d.%m.%Y")
							p
								= question.title
							p 
								= link_to t('labels.i_have_an_answer'), question_show_path(question), class: "btn btn-primary" 
			.col-md-12.text-center
					= will_paginate @questions
			.col-sm-12.col-md-12.align-right
				= link_to t('labels.ask_the_question'), ask_the_question_path, class: "btn btn-blue"
		- else
			.col-sm-12.col-md-12
				| Вопросов пока нет, но вы можете 
				= link_to t('labels.ask_youre_own_question'), ask_the_question_path
