.col-md-12#wrapper
	.page-header
		h3
			= t 'labels.ask_the_question'
		| В этом разделе вы можете задать вопрос, на который могут ответить другие пользователи сервиса Que?stion?
		= render 'question_form'