.col-md-12#wrapper
	.page-header
		h3
			= t 'headers.question_from_user', user_name: @question.user.email
			- if (Time.now - @question.created_at) < (60*60*24)
				span.label.label-default.new_one
					= t 'strings.new_one'
		i
			= @question.created_at.strftime("%d.%m.%Y")
	.content-block
		.question-block
			.question
				= @question.title
				br
				i.small
					= @question.text
			.answers
				- @question.answers.each do |answer|
					.answer-item.col-md-12
						i.small
							= "#{answer.user.email} - #{answer.created_at.strftime("%d.%m.%Y")}" 
						br
						= answer.text
						- answer.corrections.each do |correction|
							.correction-item
								i.small
									= "#{correction.user.email} - #{correction.created_at.strftime("%d.%m.%Y")}" 
								br
								= correction.text + " "
								- if !correction.accepted && (current_user == answer.user)
									= link_to t('labels.accept_correction'), new_accept_path(answer_id: answer.id, correction_id: correction.id), remote: true, method: :post, class: "accept_correction"
								- if correction.accepted
									i.small
									 = "#{t('labels.accepted')} - #{answer.updated_at.strftime("%d.%m.%Y")}"
						.b-get-correction
							= link_to t('labels.create_corretcion'), new_correction_path(answer_id: answer.id), remote: true, method: :post, class: "correction_link"
				.b-get-answer
					= link_to t('labels.get_the_answer'), new_answer_path(question_id: @question.id), remote: true, method: :post