= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "centred-form form-horizontal col-md-6" }) do |f|
  h2
    = t 'headers.sgin_up'
  .form-group  
    = devise_error_messages!
  .form-group
    = f.label :email, class: "col-sm-2 control-label"
    .col-sm-10
      = f.email_field :email, autofocus: true, class: "form-control", placeholder: "example@example.mail"
  .form-group
    = f.label :password, class: "col-sm-2 control-label"
    .col-sm-10
      = f.password_field :password, autocomplete: :off, class: "form-control"
  .form-group
    = f.label :password_confirmation, class: "col-sm-2 control-label"
    .col-sm-10
      = f.password_field :password_confirmation, autocomplete: :off, class: "form-control"
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit t 'labels.forms.sgin_up', class: "btn btn-default"
  = render "devise/shared/links"
