= form_for correction, url: create_accept_path, html: { method: :post, class: "form-horizontal col-md-12" } do |f|
	= f.hidden_field :id, vlaue: correction.id
	.form-froup
		.col-sm-10
			= f.fields_for :answer do |answer_f|
				= answer_f.text_area :text, placeholder: t('placeholders.youre_correction'), class: "form-control"
	.form-group
		.col-sm-10
			= f.submit t('labels.accept_correction'), class: "btn btn-default"