= form_for answer, url: create_answer_path, html: { method: :post, class: "form-horizontal col-md-6" } do |f|
	= f.hidden_field :question_id, vlaue: answer.question.id
	= f.hidden_field :user_id, value: current_user.id
	.form-froup
		.col-sm-10
			= f.text_area :text, placeholder: t('placeholders.youre_answer'), class: "form-control"
	.form-group
		.col-sm-10
			= f.submit t('labels.get_the_answer'), class: "btn btn-default"