= form_for correction, url: create_correction_path, html: { method: :post, class: "form-horizontal col-md-6" } do |f|
	= f.hidden_field :answer_id, vlaue: correction.answer.id
	= f.hidden_field :user_id, value: current_user.id
	.form-froup
		.col-sm-10
			= f.text_area :text, placeholder: t('placeholders.youre_correction'), class: "form-control"
	.form-group
		.col-sm-10
			= f.submit t('labels.get_the_corrcetion'), class: "btn btn-default"