.col-md-12#wrapper
	.page-header
		h3
			| Добро подаловать в систему "Вопросы"!
		| Здесь Вы можете задавать вопросы, отвечать на них или корректировать чужие ответы.
	= render 'layouts/partials/latest_questions'