= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "centred-form form-horizontal col-md-6", method: :put }) do |f|
  = f.hidden_field :reset_password_token
  h2
    = t 'headers.change_your_password'
  .form-group  
    = devise_error_messages!
  .form-group
    = f.label :password, class: "col-sm-2 control-label"
    .col-sm-10
      = f.password_field :password, autocomplete: :off, class: "form-control"
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit t 'labels.forms.change_password', class: "btn btn-default"
  = render "devise/shared/links"
