= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "centred-form form-horizontal col-md-6" }) do |f|
  h2
    = t 'headers.forgot_your_password'
  .form-group  
    = devise_error_messages!
  .form-group
    = f.label :email, class: "col-sm-2 control-label"
    .col-sm-10
      = f.email_field :email, autofocus: true, class: "form-control", placeholder: "example@example.mail"
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit t 'labels.forms.send_me_reset_password_instructions', class: "btn btn-default"
  = render "devise/shared/links"
