.col-md-12
	.page-header
		h3
			= t 'labels.your_answers'
	.row
		- if @answers.any?
			- @answers.each do |answer|
				.col-sm-6.col-md-4
					.thumbnail
						.caption
							h3
								= answer.question.title
								br
								i.small
									= answer.question.created_at.strftime("%d.%m.%Y")
							p
								i.small
									= t 'label.your_answer'
								br
								= answer.text
							p 
								= link_to t('labels.watch'), question_show_path(answer.question), class: "btn btn-primary" 
			.col-md-12.text-center
					= will_paginate @answers
			.col-sm-12.col-md-12.align-right
				= link_to t('labels.ask_the_question'), ask_the_question_path, class: "btn btn-blue"
		- else
			.col-sm-12.col-md-12
				| Вы ещё не дали ни одного ответа, новы можете поискать
				= link_to t('labels.get_your_own_answers'), questions_list_path
