= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "centred-form form-horizontal col-md-6" }) do |f|
  h2
    = t 'headers.log_in'
  .form-group  
    = devise_error_messages!
  .form-group
    = f.label :email, class: "col-sm-2 control-label"
    .col-sm-10
      = f.email_field :email, autofocus: true, class: "form-control", placeholder: "example@example.mail"
  .form-group
    = f.label :password, class: "col-sm-2 control-label"
    .col-sm-10
      = f.password_field :password, autocomplete: :off, class: "form-control"
  - if devise_mapping.rememberable?
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.check_box :remember_me
          = f.label t 'labels.forms.remember_me'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit t 'labels.forms.log_in', class: "btn btn-default"
  = render "devise/shared/links"
