@import "bootstrap-sprockets";
@import "bootstrap";

$green-color: #7ce63a;
$red-color: #ea4a4a;
$blue-color: #66afe9;

header {
    height: 50px;
    background: $green-color;
    position: relative;

    .logo-block {

    	.logo {
    		font-size: 2em;
		    text-align: center;
		    padding: 5px;
    	}
    }

    .menu {
			position: absolute;
			right: 10px;
			text-align: right;
	    padding: 13px;
    }
}

.centred-form {
	margin: 0 auto;
	float: none;

	h2 {
		text-align: center;
	}

	.form-group {
		width: 100%;
		padding: 5px;

		input[type=checkbox] {
			margin-left: 0;
		}

		textarea {
			width: 100%;
			max-width: 100%;
		}
	}
}

.info {
	    border: 2px solid $blue-color;
	li.notice {
		color: $green-color;
	}
	li.alert {
		color: $red-color;
	}
}

.btn-blue {
  color: white;
  background-color: $blue-color;
  border-color: $blue-color;
  text-decoration: none;

  &:hover {
  	border-color: $green-color;
	  color: white;	
  }
}

.new_one {
	margin-left: 5px;
	background-color: $blue-color;
}

.question-block, .answer-item, .correction-item {
	border-left: 1px solid $blue-color;

	div {
		padding: 10px;
		margin-bottom: 10px;
	}
}

.align-right	 {
	text-align: right;
}