$(".accept_correction").on("ajax:success", function() {
	$(this).parent().append("<%= escape_javascript(render partial: 'partials/acceptance_form', locals: { correction: @correction }) %>"); 
	$(this).remove();
});