header
	.logo-block.col-md-2
		.logo
			=link_to "Que?tion?", root_path
	.menu.col-md-4
		- if user_signed_in?
			span
				= t('labels.header.greeting', user_name: current_user.email) + " "  
			= link_to t('labels.header.log_out'), destroy_user_session_path, method: :delete
		- else
			= link_to t('labels.header.log_in') , new_user_session_path
			= " #{t('strings.or')} "
			= link_to t('labels.header.sgin_up') , new_user_registration_path  